<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="./test/bootstrap.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php">./test</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing" force="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
    <exclude>
      <directory suffix=".php">./app/Controller</directory>
      <directory suffix=".php">./app/Exception/Handler</directory>
      <directory suffix=".php">./app/Listener</directory>
      <directory suffix=".php">./app/Middleware</directory>
      <directory suffix=".php">./app/Repositories</directory>
      <file>./app/Exception/BusinessException.php</file>
    </exclude>
  </source>
</phpunit>
